.calculator {
    overflow: hidden;
    width: 85%;
    margin: auto;
    margin-top: 50px;
    background: #000 url("../../assets/images/calcBg.svg");

}

.calculator h2{
    margin-top: 50px;
    color: rgb(185, 29, 115);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.calculator h4{
    margin-top: -10px;
    font-size: 18px;
    text-align: center;
}

.calculator form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.calculator form input[type="number"] {
    width: 250px;
    height: 30px;
    border: 1px solid hotpink;
    border-radius: 20px;
    padding-left: 10px;
    margin: auto;
    margin-top: 50px;
}

.calculator form label{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 100px;
}
