.about {
	overflow: hidden;
	width: 85%;
	background-color: #fff;
	border-radius: 20px;
	z-index: 10;
	margin: auto;
	margin-top: -50px;
}

.about h2 {
	margin-top: 50px;
	color: rgb(185, 29, 115);
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

.about p {
	margin-top: 30px;
	text-align: center;
}
