.opacity-background{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: yellowgreen;
    opacity: 70%;
}

.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    z-index: 10;
}


.banner-text h2{
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.banner-text h4{
    font-size: 30px;
    width: 60%;
    text-align: center;
    color: #333;
    margin-top: -50px;
}

.get-started-btn:focus{
    text-decoration: none;
    color: #fff;
}

.get-started-btn{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, rgb(249, 83, 198), rgb(185, 29, 115));
    padding: 10px 50px;
    font-size: 20px;
    width: 100px;
    border-radius: 20px;
}