.opacity-background {
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	z-index: -1;
	position: absolute;
	object-fit: cover;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: yellowgreen;
	opacity: 70%;
}

.banner-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
	margin-top: 170px;
}

.banner-text h2 {
	font-size: 40px;
	color: #fff;
	text-align: center;
}

.banner-text .typewriter {
	margin-top: -10px;
}

.banner-text h4 {
	font-size: 20px;
	width: 60%;
	text-align: center;
	color: #333;
	margin-top: -10px;
	padding-bottom: 70px;
}

.get-started-btn:focus {
	text-decoration: none;
	color: #fff;
}

.banner-button .get-started-btn {
	text-decoration: none;
	color: #fff;
	background: linear-gradient(to right, rgb(249, 83, 198), rgb(185, 29, 115));
	padding: 10px 50px;
	font-size: 15px;
	width: 100px;
	border-radius: 20px;
}

.login:focus {
	text-decoration: none;
	color: #fff;
}

.banner-button .login{
	text-decoration: none;
	color: rgb(185, 29, 115);
	border: 2px solid rgb(185, 29, 115);
	padding: 10px 50px;
	font-size: 15px;
	width: 100px;
	border-radius: 20px;
	margin-left: 20px;
}
