.contact {
    overflow: hidden;
    background-image: url("../../assets/images/calcBg.svg");
    padding-bottom: 100px;
}

.contact-container {
    overflow: hidden;
    background-color: transparent;
    margin: auto;
    width: 70%;
    margin: auto;
    height: auto;
}

.contact h2{
    margin-top: 50px;
    color: rgb(185, 29, 115);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.contact-form{
    height: auto;
    width: 100%;
    background-color: #fff;
}

.contact-address{
    height: auto;
    width: 100%;
    background-color: hotpink;
}
