.navigation .navbar {
	overflow: hidden;
}

#navbar-transparent {
    background-color: rgb(185, 29, 115);
    color: #fff;
}

.navbar .navbar-collapse .navlinks {
	color: red;
	font-weight: bold;
}

.navbar .navbar-collapse .navlinks .active {
	border-bottom: 2px solid rgb(185, 29, 115);
	color: #fff;
	background-color: transparent;
}

.navbar .navbar-collapse .navlinks .nav-link:hover {
	border-bottom: 2px solid rgb(185, 29, 115);
	color: #fff;
	background-color: transparent;
}


